#editor {
    width: 99%;
}

#result {
    width: 99%;
}

.centered {
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

h3 {
    margin-top: 50px;
}

h3:first-of-type {
    margin-top: 15px;
}

h4 {
    margin-top: 30px;
}
